language: r
sudo: required

# R version
r: devel

# Package caching only makes sense for the release versions.
#cache: packages

# Packages from Bioconductor needed
bioc_packages:
   - BiocParallel
   - GenomicRanges
   - IRanges
   - S4Vectors
   - methods
   - gridExtra
   - BiocStyle
   - BiocGenerics

# Be strict when checking package
warnings_are_errors: true

r_build_args: "--no-manual --no-resave-data --keep-empty-dirs"
r_check_args: "--no-build-vignettes --no-manual --timings"

# Package dependencies from CRAN not in DESCRIPTION file
r_binary_packages:
   - covr
   - RUnit
   - knitr
   - rmarkdown
   - ggplot2

r_github_packages:
   - Bioconductor-mirror/rtracklayer@release-3.3
   - al2na/methylKit

# To send info to codecov
after_success:
  - Rscript -e 'library(covr);codecov()'
